body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
  border: solid 2px orange;
}

table th, table td {
  border: dashed 1px orange;
}
