extends layout

block content
  h1= title
  
  p Welcome to #{title}
  
  section#top
  .content.top

  ul
    li: a(href="example.com" target="_blank") aタグです

  include ./include/_inc_task_table.pug
  