doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/asyncpost.js')
    script(type='text/javascript' src='/javascripts/keypress.js')
    script(type='text/javascript' src='/javascripts/common.js')
  body
    block content
