extends layout

block content
  
  header 
    a(href='javascript:history.back();' class='back_button') < #{title}
    
  h1= title
  
  p Welcome to #{title}
  
  section#top
  .content.top

  include ./include/_inc_task_table.pug
  