extends layout

block content
  div(class='login_form')
    form(action='/login' method='post')
      div
        label ユーザーID：
          input(type='text' name='username')
      div
        label パスワード：
          input(type='password' name='password')
      div
        input(type='submit' value='ログイン')