extends layout

block content
  
  h1(style='display:inline-block')=title
  header 
    input(type='button' value='Create New List' onClick='#' class='square_btn') 
  

  section#top
  .content.top

  include ./include/_inc_list_table.pug
  