extends layout

block content

  h1=title

  div(class='container')
    div(class='leftnavi')
      include ./include/_inc_space_table.pug

    div(class='main')
      header
        input(type='button'
              value='Create New List'
              onClick='createNewList()'
              class='square_btn'
        )

      section#top
      .content.top

      include ./include/_inc_list_table.pug
  