table
    thead
      tr 
        th Completed
        th Task Name
    tbody  
      - var i = 0
      each task in tasks
        tr
          - i++
          td
            label
              input#check(type='checkbox' onChange="postByFetch('api/task/update/" + task.id + "', this.checked)" checked=task.completed)
          td #{task.title}
