form(name=taskTable)
  table
      thead
        tr 
          th(class='width-30px') 
          th Task Name
      tbody  
        - var i = 0
        each task in tasks
          tr
            - i++
            td(class='width-30px')
              label
                input(type='checkbox' onChange="postByFetch('/tasks/update/',"+task.id +",null,this.checked)" checked= task.completed)
            td 
              label
                input(type='text' id='text'+i value=task.title size='50' onkeydown="nextForm('taskTable',"+task.id+","+task.title +")" class='radius')
