table
    thead
      tr 
        th Completed
        th Task Name
    tbody  
      - var i = 0
      each task in tasks
        tr
          - i++
          td
            label
              input(type='checkbox' onChange="postByFetch('task/update/"+task.id +"',this.checked)" checked= task.completed)
          td 
            label
              input(type='text' value= task.title size='30' name='text'+i )
