table(id='listTable')
    thead
      tr 
        th List Name
    tbody  
      - var i = 0
      if lists.length > 0
        each list in lists
          tr
            - i++
            td
              a(href=`/lists/${list.id}`) #{list.title}
              small(
                class='setteings'
              ) •••
      else
        p Create a new list to get started.
        