body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgba(141, 140, 141, 0.925);
}

table {
  border-collapse: collapse;
  border: solid 2px orange;
}

table th, table td {
  border: dashed 1px orange;
}

.back_button{
	font-size: 100%;
	font-weight: bold;
	color: rgb(0, 217, 255);
  text-decoration: back;
  opacity: 0.5;
}

.back_button:hover {
	color: rgb(0, 120, 255);
  text-decoration: underline;
  opacity: 1.0;
}
