a {
  color: rgba(141, 140, 141, 0.925);
}

.back_button {
	color: #c400e6;
	font-size: 100%;
  font-style: italic;
	font-weight: bold;
  opacity: 0.5;
  text-decoration: back;
}

.back_button:hover {
	color: #d876f0;
  opacity: 1.0;
  text-decoration: underline;
}

body {
  background-color: skyblue;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

#close {
  cursor: pointer;
  width: 50px;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  border: 0;
  outline: 0;
}

.completed {
  color: grey;
  text-decoration: line-through;
}

.container {
  height: 500px;
  width: 900px;
}

input[type=checkbox] {
  transform: scale(1.3);
}

input[type=text] {
  display: inline;
  vertical-align: middle;
}

input.radius {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.leftnavi{
  background-color: whitesmoke;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
  float: left;
  height: 450px;
  width: 270px;
}

#listTable {
  clear: both;
}

.list_title {
  border-width: 0px;
  border-style: None;
  background-color: rgba(0,0,0,0);
  font-size: 36px;
  margin: 15px 0 15px 0;
}

.main{
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
  float: right;
  margin-left: 20px;
  width: 600px;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#mask.hidden {
  display: none;
}

.menu_button {
  color: #444444;
  font-size: 14px;
  height: 30px;
  /* padding: 20px 0 0 20px; */
  top: 0;
  vertical-align: middle;
  width: 270px;
}

.menu_button:active {
  top: 1px;
}
.menu_button:hover {
  top: 0;
}

.menu_child {
  text-align: left;
  padding: 15px 0 0 20px;
}

#modal {
  background: #fff;
  border-radius: 4px;
  height: 100px;
  left: 0;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 40px;
  transition: .8s;
  right: 0;
  width: 400px;
  z-index: 2;
}

#modal.hidden {
  transform: translate(0, -500px);
}

#modal p {
  margin: 0;
  text-align: right;
}

table {
  border-collapse: collapse;
}

table th, table td {
  border: dashed 1px gray;
  height: 28px;
}

table tr td {
  height: 15px;
  margin: 5px;
  padding: 5px;
  width: 960px;
}

#open {
  text-align: center;
}

::placeholder {
  color: rgb(150,150,150);
  font-size: 20px;
  font-style: italic;
}

.setteings {
  color:gray;
  display: inline;
  float: right;
  padding: 5px;
}

.space_text {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: inline;
  height: 35px;
  margin: 50px;
  padding: 0 15px;
  top: 40px;
  width: 300px;
}

.square_btn {
  color: #FF6699;
  border: solid 2px #FF6699;
  border-radius: 3px;
  float: right;
  font-size: 16px;
  margin: 10px 10px 20px;
  padding: 0.3em 1em;
  text-decoration: none;
  transition: .4s;
}

.square_btn:hover {
  color: white;
  background: #FF6699;
}

.width-30px {
  text-align: center;
  width: 5px;
}