body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgba(141, 140, 141, 0.925);
}

table {
  border-collapse: collapse;
}

table th, table td {
  border: dashed 1px orange;
  height: 28px;
  
}

table tr td {
  width: 960px;
  height: 15px;
  padding:5px;
  margin: 5px;
}

table td label {
  /* padding: 6px; */
}

.width-30px {
  width: 30px;
  text-align: center;
}

input[type=checkbox] {
  transform: scale(1.3);
}

input[type=text] {
  padding:0px;
  display: inline;
  vertical-align:middle;
}

.setteings{
  float: right;
  padding:5px;
  color:gray;
  display: inline;
  /* line-height: 3em; */
}

input.radius {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  border:none;
  border-radius:10px;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
}

.back_button{
	font-size: 100%;
	font-weight: bold;
	color: rgb(0, 217, 255);
  text-decoration: back;
  opacity: 0.5;
}

.back_button:hover {
	color: rgb(0, 120, 255);
  text-decoration: underline;
  opacity: 1.0;
}

.completed {
  color: grey;
  text-decoration: line-through;
}
