extends layout

block content
  h1= title
  
  p Welcome to #{title}
  
  section#top
  .content.top
  table
    tr 
      th
        |No.
      th
        |task name
      - var i = 0
      each obj, index in task
        each val, key in obj
          - i++
          tr
            td
              |#{i}
            td
              |#{val}
