extends layout

block content
  h1= title
  
  p Welcome to #{title}
  
  section#top
  .content.top
  table
    tr 
      th
        |Task Name
      th
        |Status
      th
        |Start
      th
        |Deadline
      th
        |ID
      tr
      - var i = 0
      each obj, index in task
        each val, key in obj
          - i++
          td
            |#{val}
